body{
  margin:0;
  padding:0;
  font-family:Arial;
  background:#111;
  color:#fff;
}

.container{
  padding:20px;
}

.logo{
  width:120px;
  height:120px;
  border-radius:50%;
}

.card{
  padding:15px;
  background:#222;
  margin-bottom:10px;
  border-radius:10px;
}

.gallery{
  width:100%;
  margin-bottom:10px;
  border-radius:10px;
}